@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --color-primary-f: #00b6f0;
  --color-secondary-f: #f3cd03;
  --color-secondary-dark-f: #112d57;
  --color-first-text-f: #20262a;
  --color-light-text-f: #ffffff;
  --color-second-text-f: #5c5c5c;
  --color-dark-background-f: #182333;
  --color-light-background-f: #ffffff;
}

header {
  background-color: var(--color-light-background-f);
  background-image: linear-gradient(
    180deg,
    #ffffff 19.44%,
    #0edce9 52.08%,
    #ffffff 82.29%
  );
}

body {
  position: relative;
}

img {
  width: 100%;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.btn-size {
  padding: 16px 46px;
  border-radius: 85px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
}

.btn-login {
  padding: 16px 46px;
  border-radius: 85px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
}

.btn-size-t {
  width: 254px;
  height: 52px;
  padding: 0;
}

.btn-login {
  border: 1px solid var(--color-primary-f);
  color: var(--color-primary-f);
  background-color: var(--color-light-background-f);
  margin-left: 76px;
  margin-right: 16px;
}

.btn-blue-outline {
  border: 2px solid var(--color-primary-f);
  color: var(--color-primary-f);
  background-color: var(--color-light-background-f);
}

.btn-blue {
  color: var(--color-light-text-f);
  background-color: var(--color-primary-f);
}

.form-btn {
  color: var(--color-light-text-f);
  background-color: var(--color-primary-f);
}
.btn-white {
  color: var(--color-first-text-f);
  background-color: var(--color-light-background-f);
}

.btn-icon {
  background: none;
  border: none;
}

.btn-cookie {
  padding: 16px 25px 15px 26px;
  border: 6px solid #00b6f0;
  color: #00b6f0;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  background: transparent;
}

.btn-cookie:hover {
  color: #ffffff;
  background: #00b6f0;
  transition: all 200ms;
}

/* Fonts */

a {
  font-style: italic;
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-decoration: none;

  color: var(--color-first-text-f);
}

.blue-color {
  color: var(--color-primary-f);
}

h1 {
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;

  letter-spacing: 0.2px;
  color: var(--color-secondary-dark-f);
  margin-bottom: 0;
}

h2 {
  font-weight: bold;
  font-size: 56px;
  line-height: 65px;

  letter-spacing: 0.2px;
  color: var(--color-first-text-f);
  margin-bottom: 0;
}

.pricing-color {
  color: var(--color-light-text-f);
}

h3 {
  font-style: italic;
  font-weight: 100;

  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1px;
  color: var(--color-first-text-f);
  margin-bottom: 0;
}

.yellow-color {
  color: var(--color-secondary-f);
}

h4 {
  font-style: italic;
  font-weight: 100;

  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: var(--color-second-text-f);
  margin-bottom: 0;
}

h5 {
  font-weight: bold;
  font-size: 56px;
  line-height: 65px;

  letter-spacing: 0.2px;
  color: var(--color-secondary-dark-f);
  margin-bottom: 0;
}

p {
  font-style: italic;
  font-weight: 100;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.2px;

  color: var(--color-second-text-f);
  margin-bottom: 0;
}

.fw-400 {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: var(--color-second-text-f);
  margin-bottom: 0;
}

.facebook {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}

.facebook-b {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}

.sm18-lh20 {
  font-style: italic;
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: var(--color-first-text-f);
  margin-bottom: 0;
}

.sm18-lh28 {
  font-style: italic;
  font-weight: 100;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--color-second-text-f);
  margin-bottom: 0;
}

.pricing-text18px {
  font-style: italic;
  font-weight: 100;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--color-light-text-f);
  margin-bottom: 0;
  padding-left: 10px;
}

.free-tiarial-text {
  font-weight: 100;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: var(--color-light-text-f);
  padding-bottom: 10px;
  max-width: 125px;
}
/* style*/
/*Form*/
#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(196, 196, 196, 0.5);

  justify-content: center;
  align-items: center;
}

#modal.open {
  display: flex;
}

.formR {
  max-width: 437px;
  max-height: 457px;
  border-radius: 10px;
  padding: 19px 12px 28px 12px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-pd {
  padding-bottom: 53px;
  padding-right: 6px;
}

.form-size {
  height: 48px;
  background: #dfffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  margin-top: 8px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
}

label {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.checkbox-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.checkbox-icon {
  margin-left: 10px;
}

.form-btn-mg {
  margin-top: 23px;
}

button[type="submit"]:disabled {
  background: rgb(146, 141, 141);
}
/* header*/
/*nav */

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 4px;
  margin-right: 0;
}
.navbar-collapse {
  flex-grow: 0;
}

.toggler-new {
  border: none;
}

.toggler-new img {
  width: 27px;
}

.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-toggler {
  padding: 0;
}

.sec-header {
  padding-top: 25px;
}

.lightning-text-big {
  padding-top: 164px;
  padding-bottom: 38px;
}

.lightning-text-big-h5 {
  max-width: 366px;
}

.lightning-text-small {
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 94px;
}

.lightning-text-small-h4 {
  max-width: 301px;
}

.lightning-btn {
  padding-bottom: 45px;
}

/* Fastest*/
.sec-fastest {
  padding-top: 72px;
  padding-bottom: 62px;
}

.fastest-text-big {
  padding: 27px 65px;
}

.fastest-text-small {
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 69px;
}

.fastest-text-small-h3 {
  max-width: 411px;
}

.fastest-btn-b {
  width: 306px;
  height: 57px;
}

.fastest-btn-o {
  width: 306px;
  height: 57px;
}

.fastest-btn-mg {
  margin-bottom: 13px;
}

/*Open Type*/

.sec-open-t {
  padding-top: 121px;
  padding-bottom: 110px;
}

.sec-open-vf {
  padding-top: 121px;
  padding-bottom: 110px;
}

.sec-open-text {
  padding-left: 55px;
  padding-right: 55px;
}

.sec-open-text-small-ot {
  max-width: 411px;
  padding: 27px 0;
}
.open-t-img {
  padding-right: 27px;
  padding-left: 27px;
  padding-bottom: 70px;
}

.open-t-img-vf {
  padding-right: 27px;
  padding-left: 27px;
  padding-bottom: 70px;
}
.sec-open-text-small {
  max-width: 335px;
  padding: 27px 0;
}

/*File tasks*/

.sec-file {
  padding-top: 72px;
  padding-bottom: 62px;
}

.sec-file-pd {
  padding-left: 66px;
  padding-right: 66px;
}

.sec-file-text {
  padding: 27px 78px 62px 78px;
}

.sec-file-facebook {
  padding-top: 7px;
  padding-bottom: 40px;
}

/*Testimonials*/
.sec-testimonials {
  padding: 111px 68px 50px 68px;
}

.testimonials-img {
  padding-top: 85px;
  padding-bottom: 85px;
}

.testimonials-card {
  width: 182px;
  padding-top: 60px;
  padding-bottom: 50px;
}

.testimonials-card-img {
  padding-right: 23px;
}

/*Pricing*/
.pricing-bg {
  background-color: var(--color-dark-background-f);
  padding-top: 110px;
  padding-bottom: 100px;
}

.pricing-text {
  padding-top: 26px;
  padding-bottom: 77px;
  padding-left: 59px;
  padding-right: 59px;
}

.pricing-text-pd {
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 167px;
}

.btn-margin {
  margin: 0 auto;
}

/*Ergonomic*/

.sc-ergonomic {
  padding-top: 86px;
  padding-bottom: 70px;
  background-image: linear-gradient(
    180deg,
    #e9faff 0%,
    rgba(233, 250, 255, 0) 100%
  );
}

.ergonomic-h3 {
  padding-bottom: 77px;
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  max-width: 269px;
}

.ergonomic-text-p1 {
  max-width: 424px;
  padding-bottom: 40px;
}

.ergonomic-text-p2 {
  max-width: 306px;
  padding-bottom: 79px;
}

/*Footer*/

.sc-footer {
  padding-top: 71px;
  padding-bottom: 60px;
}

footer .nav-link {
  color: var(--color-first-text-f);
}

.footer-img img {
  width: 186px;
}

.footer-img {
  padding-bottom: 62px;
}

.nav-footer .nav-link {
  padding: 0 0 30px 0;
}

.nav-footer .nav-link:last-child {
  padding-bottom: 0;
}
.footer-social .nav-link {
  padding: 0;
}

.footer-social a:not(:last-child) {
  padding-right: 30px;
}

.footer-social {
  padding-top: 119px;
}

/*Slider*/

.imgSlider {
  border: 1px solid black;
  margin: 10px;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 64px;
  line-height: 1;
  opacity: 1;
  color: black;
  -webkit-font-smoothing: antialiased;
}

.slick-prev {
  left: -20px;
  z-index: 3;
}

.slick-next {
  right: 20px;
}

/*Cookie*/

.cookie {
  display: none;
  padding-top: 22px;
  padding-bottom: 22px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  background: linear-gradient(180deg, #49d1d1 0%, #e9faff 100%);
  box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
}

.cookie-text {
  display: none;
  max-width: 596px;
  letter-spacing: 0;
  margin-right: 16px;
}
.fw-600 {
  font-weight: 600;
  max-width: 454px;
  align-items: center;
  padding-bottom: 16px;
}

/*Map*/
#map {
  height: 568px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/**/
@media (min-width: 768px) {
  .container {
    max-width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
  }

  /*Navbar*/

  .sec-header {
    padding: 30px 30px 0 30px;
  }

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .btn-width {
    width: 350px;
  }
  .btn-login {
    margin-left: 0;
    margin-right: 0;
  }

  .btn-size {
    font-weight: 700;
  }

  /*Lightning*/
  .lightning-text-big-h5 {
    max-width: 490px;
  }

  .lightning-text-small-h4 {
    max-width: 491px;
  }

  .lightning-text-big {
    padding-top: 171px;
    padding-bottom: 37px;
  }

  h5 {
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--color-secondary-dark-f);
  }

  /*Fastest way*/

  .fastest-text-big {
    padding: 27px 0;
  }

  .fastest-btn-mg {
    margin-bottom: 0;
    margin-right: 13px;
  }
  .fastest-btn-b {
    width: 182px;
    height: 52px;
  }
  .fastest-btn-o {
    width: 239px;
    height: 52px;
    padding: 0;
  }

  .fastest-btn-mg {
    margin-bottom: 0;
  }

  /*Open type*/

  .sec-open-t {
    padding-right: 10px;
    padding-left: 10px;
  }

  .sec-open-vf {
    padding-right: 20px;
    padding-left: 20px;
  }

  .open-t-img {
    padding: 0;
  }

  .sec-open-text {
    padding-left: 0;
    padding-right: 30px;
  }

  .open-t-img-vf {
    padding: 0;
  }

  .sec-open-text-vf {
    padding-left: 30px;
  }

  /*File task*/

  .sec-file-pd {
    padding-left: 0;
    padding-right: 0;
  }

  .sec-file-text {
    padding-left: 0;
    padding-right: 0;
    max-width: 500px;
    margin: 0 auto;
  }

  .sec-file-img {
    max-width: 600px;
    margin: 0 auto;
  }

  .sec-file-facebook {
    padding-top: 7px;
    padding-bottom: 40px;
    max-width: 600px;
  }
  /*Lightning*/

  /*Testimonials*/

  .sec-testimonials {
    padding: 111px 0 50px 0;
  }

  .testimonials-img {
    padding-top: 79px;
    padding-bottom: 79px;
  }

  .testimonials-text {
    max-width: 492px;
  }

  /*Pricing*/

  .fw-400-i {
    font-style: italic;
    font-weight: 100;
  }

  .pricing-text {
    padding-top: 26px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .free-tiarial-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
    padding-bottom: 19px;
    max-width: 155px;
  }

  .pricing-block-first {
    max-width: 391px;
    margin-left: 32px;
  }

  .pricing-text-pd {
    padding-top: 29px;
    padding-bottom: 20px;
    max-width: 239px;
  }

  .pricing-block-second {
    padding-left: 77px;
  }

  /*Ergonomic meeting*/
  .ergonomic-h3 {
    padding-bottom: 0;
    font-style: italic;
    font-weight: 100;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.1px;
    max-width: 365px;
  }

  .ergonomic-first {
    margin-left: auto;
    margin-right: 20px;
    padding-left: 20px;
  }

  .ergonomic-text-p2 {
    max-width: 300px;
    padding-bottom: 30px;
  }

  .ergonomic-text-p1 {
    max-width: 300px;
    padding-bottom: 40px;
  }

  .ergonomic-second {
    margin-left: 20px;
  }

  /*Footer*/

  .cookie {
    padding-top: 34px;
    padding-bottom: 34px;
  }

  .cookie-text {
    display: block;
  }

  .fw-600 {
    max-width: 595px;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 25px;
    padding-left: 25px;
  }
  .container {
    max-width: 1280px;
    padding-left: 80px;
    padding-right: 80px;
  }

  /*Form*/

  .formR {
    max-width: 582px;
    max-height: 512px;
  }
  .form-pd {
    padding-left: 12px;
    padding-right: 18px;
  }
  .form-mg {
    margin-left: 49px;
    margin-right: 49px;
  }

  .form-btn-mg {
    margin-top: 78px;
  }

  /*Navbar*/

  .sec-header {
    padding: 30px 10px 0 10px;
  }

  .btn-width {
    width: 186px;
  }

  /*Lightning*/

  /*Fastest way*/

  /*Open type*/

  .sec-open-t {
    padding-right: 62px;
    padding-left: 62px;
  }

  .sec-open-vf {
    padding-right: 100px;
    padding-left: 100px;
  }

  .sec-open-text {
    padding-left: 0;
    padding-right: 70px;
  }

  .sec-open-text-vf {
    padding-left: 70px;
  }

  /*File task*/

  .sec-file-text {
    padding-left: 0;
    padding-right: 0;
    max-width: 616px;
    margin: 0 auto;
  }

  .sec-file-img {
    max-width: 757px;
    margin: 0 auto;
  }

  /*Testimonials*/

  .sec-testimonials {
    padding: 169px 0 108px 0;
  }

  /*Pricing*/

  .pricing-block-first {
    max-width: 391px;
    margin-left: 152px;
  }

  .pricing-block-second {
    padding-left: 177px;
  }

  /*Ergonomic meeting*/
  .ergonomic-h3 {
    padding-bottom: 0;
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1px;
    max-width: 369px;
  }

  .ergonomic-first {
    margin-left: auto;
    margin-right: 60px;
  }

  .ergonomic-text-p2 {
    max-width: 424px;
    padding-bottom: 30px;
  }

  .ergonomic-text-p1 {
    max-width: 420px;
    padding-bottom: 40px;
  }
  .ergonomic-second {
    margin-left: 60px;
  }

  /*Slider*/

  .slick-prev {
    left: -60px;
  }

  .slick-next {
    right: -16px;
  }

  /*Map*/
  /* #map {
    margin-right: 95px;
    margin-left: 95px;
  } */

  /*Footer*/

  .sc-footer {
    padding: 61px 14px 60px 6px;
  }

  .nav-footer .nav-link {
    padding: 0 25px;
  }

  .footer-img {
    padding-bottom: 0;
  }

  .footer-social {
    padding-top: 0;
  }
}
